.footer {
  color: var(--cor-footer-fonte);
  padding: 1rem 2rem;
  background-color: var(--cor-footer);
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul li {
    list-style: none;
  }
}