:root{
  --cor-sidebar: #E4EDE2;
  --cor-fundo-card: #f0f0f0;
  --cor-footer: #545E53;
  --cor-botao: #758C72;
  --cor-footer-fonte: #fff;
  --cor-fonte: #000000;
  --cor-sombra: #00000040;
  --cor-fundo-sidebar: #E9FEF4;
}

